// $c: #F2F2F5;
$c: rgba(black, 0.06);

@mixin with-bg {
  position:relative;
  &:before {
    content:"";
    position:absolute;
    top:0;right:0;bottom:0;left:0;
    background-color:$c;
    pointer-events: none;
  }
}

body {
  // 调整 feed 间距
  .WB_feed_detail {
    padding: 16px 16px 16px 16px;
  }
  .WB_detail {
    margin-left: 66px;
    .WB_info {
      padding-top: 0;
    }
  }

  // 调整发言框区块内间距
  #v6_pl_content_publishertop {
    .send_weibo {
      padding: 16px;
      height: auto;
      height: 195px; // 为了对齐高度，需要写死这个数值 // 原来的高度是 140

      .title {
        width:240px;
        .W_swficon {
          font-size:22px !important;
        }
      }

      .func_area {
        .func {width: 200px - 6px - 6px;}
        .func {padding-top:16px;}
        .kind {padding-top:15px;} // 原来的插入媒体按钮和公开按钮没对齐，调整成对齐的了
      }
      .input {
        margin-top: 12px;
      }

      // 输入框高度，增加两个行距
      .input {
        height: 68px + 36px;
        textarea {height: 68px + 36px;}
      }
    }
  }

  // 调整标签栏间距
  #v6_pl_content_homefeed {
    .WB_tab_a {
      .tab_box_a {
        height: auto;
        .fr_box {
          height:58px;

          .WB_search_s {
            margin-top: 16px;
            margin-right: 16px; //原来是7px
          }
        }
        .tab li {
          height: 58px;
          a .t{
            height:51px;line-height:58px;//原来是31px 38px
            font-size:14px;
          } 
        }
      }
    }
  }
}

// 调整个人信息区域
body {
  #v6_pl_rightmod_myinfo {
    .W_person_info {
      // height 原来是 165
      height: 227px; // delta = 62

      .cover {
        // height 原来是 75
        height: 75px + 62px;

        .headpic {
          $w:90px; // 原来是 60
          width:$w;height:$w;
          margin-left: -$w/2;
          bottom:9px;

          a img {
            width:$w !important;
            height:$w !important;
          }
        }

        .icon_bed {
          top:auto;
          bottom:3px;
        }
      }
      .WB_innerwrap {
        padding-top:10px; // 原来是 16px
        padding-top:1px;
        .nameBox {
          padding-top: 0;
        }
        .user_atten {
          margin-top:16px; // 原来是 10px
        }
      }
    }
  }
}

// 右侧栏标题框间距
body {
  .WB_cardtitle_b {
    height:48px; // 原来是 38px
    line-height:48px;
  }
}

// 热门话题
body {
  ul.hot_topic {
    font-size: 14px;
  }
  #v6_pl_rightmod_recominfo {
    .WB_right_expand {
      margin-top:10px;
      margin-left:-6px;
      margin-right:-6px;
      .expand {
        padding: 14px;
        font-size: 14px;
        line-height: 21px;
      }
    }
  }
}

// 热门微博
body {
  .apps_PCD_reco_index_right .WB_innerwrap {
    padding: 16px;
  }
  .apps_PCD_reco_index_right .reco_li {
    margin-top: 16px;
    &:first-child {
      margin-top: 6px;
    }
  }
}

// 可能感兴趣的人
body {
  .WB_right_module .person_list {
    li {
      padding:16px 0;
      .con {
        margin-left:66px;
      }
    }
  }
}

// 换一换
body {
  .WB_cardtitle_a .opt_box, .WB_cardtitle_b .opt_box {
    font-size: 14px;
  }
}

// 查看更多
body {
  .more_txt {
    font-size: 14px;
  }
  .WB_cardmore {
    line-height:48px;
    height:48px;
  }
}

// feed
body {
  .WB_info {
    margin-bottom:10px;
  }
  .WB_media_wrap {
    margin-top: 10px;
    margin-bottom: 16px;
  }
  .WB_from {
    font-size:14px;
  }
  .WB_feed_handle .WB_row_line {
    font-size: 14px;
  }
  .WB_expand {
    padding:16px;
  }
}

// 左边栏导航
body {
  .WB_left_nav .lev_Box h3.lev a{
    font-size:16px;
  }
  .WB_left_nav .lev a {
    font-size:14px;
  }
}

// 公告栏
body {
  #v6_pl_rightmod_noticeboard {
    .WB_innerwrap {
      font-size: 14px;
      .title a {
        display: block;
      }
      .opinion_type_list {
        margin-top: 10px;
      }
    }
  }
}

// -----------------------

body {
  // 隐藏广告
  // 右侧边栏第一个广告
  #v6_pl_rightmod_recominfo {
    > div[id] {
      display: none !important;
    }

    > .WB_cardwrap.S_bg2:last-child {
      display: none;
    }
  }
  // 右侧边栏第二个广告
  #v6_pl_rightmod_ads36 {
    display: none !important;
  }
  // 会员专区和明星动态
  #v6_trustPagelet_recom_member {
    display: none !important;
  }
  // 发言框下面的广告
  #v6_pl_content_biztips {
    display: none !important;
  }
  // 发言框上面的热门微博
  #v6_pl_content_publishertop {
    .send_weibo .title_area .key {
      display: none !important;
    }
  }
}

// 隐藏新版微博介绍按钮
body {
  #v6_pl_rightmod_updatev6 {
    display: none !important;
  }
}


// ------------------- 版式和颜色调整

body {
  .WB_tab_a {
    margin-bottom: 0;
  }

  // 去掉下方阴影
  .WB_tab_a .tab li.S_bg2 {
    box-shadow:none;
  }

  .WB_tab_a .tab_box .fr_box {
    border-bottom-right-radius:0;
    box-shadow:none;
  }
  .WB_tab_a .tab li:nth-child(2) .b .b1 em.l i {
    border-bottom-left-radius:0;
  }
  .WB_tab_a .tab li:first-child, .WB_tab_a .tab li:nth-child(2) {
    border-bottom-left-radius:0;
  }

  .WB_tab_a .tab li.curr {
    // background-color:#fff;
    span.t {
      padding-bottom: 7px;
    }
    span.b {
      display: none;
    }
  }

  .WB_tab_a .tab li.S_bg2, .WB_tab_a .tab li.curr .b .b1 em i {
    box-shadow: none;
  }

  #v6_pl_content_homefeed > div {
    > .WB_tab_a {
      // box-shadow: -1px 0 0 rgba(0,0,0,0.04), 1px 0 0 rgba(0,0,0,0.04);
      box-shadow:none;
    }
  }

  .WB_notes {
    margin-bottom: 0;
    margin-top: 0;
    border-radius:0;
    padding:0 10px 10px;
    background-color: transparent;
    box-shadow:none;
    position:relative;
    @include with-bg;
    height:40px;

    a {
      z-index:2;
      position:absolute;
      background-color: #fff8bf;
      border-radius: 2px;
      height:40px !important;top:0;left:10px;right:10px;
      line-height:40px !important;
      color:darken(#FFCC3F, 30%);
      font-size:14px;
      &:hover {
        background-color: darken(#fff8bf, 6%);
        color:darken(#FFCC3F, 36%);
      }
    }

    + .WB_feed {
      margin-top:-50px;
      .WB_cardwrap:first-child {
        padding-top:50px;
      }
    }
  }

  .WB_notes a, .WB_notes .wrap {
    height:40px !important;
    line-height:40px !important;
  }

  .WB_feed {
    > .WB_cardwrap:first-child {
      border-radius:0 0 2px 2px;
      box-shadow:-1px 0 0px rgba(0,0,0,0.04), 1px 0 0px rgba(0,0,0,0.04), 0 1px 0px rgba(0,0,0,0.04);
      // border-top:solid 1px rgba(black, 0.1);
    }
  }
}


// 合并后的页签背景色
body {
  .WB_tab_a .tab li a .t{
    @include with-bg;
  }

  .WB_tab_a .tab li a .b {
    @include with-bg;
    height:7px;
    span {opacity:0 !important;}
  }
  .WB_tab_a {
    .tab_box_a {
      .fr_box {
        @include with-bg;
      }
    }
  }

  .WB_cardwrap[node-type=feed_list_timeTip] {
    background-color: rgba(white, 0.8);
    .WB_cardtitle_a {
      height:40px;line-height:40px;
      font-size:14px;
    }
  }
}

// 右侧栏区块标题栏颜色
body {
  .WB_cardtitle_b {
    height:58px;line-height:58px;
    background-color:$c;
    border-radius:2px 2px 0 0;
  }
}

// 个人信息区块下方导航，颜色替换
body {
  #v6_pl_rightmod_myinfo .W_person_info .WB_innerwrap .user_atten {
    $h:51px;
    margin-left:-13px;
    margin-right:-13px;
    height:$h;
    li {
      border:0 none !important;
      width:percentage(1/3);
      position:relative;
      a {
        margin:0 3px;
        height:$h;
        border-radius:2px !important;
        // strong {
        //   color:rgba(white, 0.8);
        // }
        background-color:$c;
        // background-color:#555;
        strong {
          padding-top:6px;
          margin-bottom:6px;
          width:auto;
        }

        &:hover{background-color:darken($c, 2%);}
      }
    }
  }

  .W_person_info .WB_innerwrap {
    padding-bottom:1px;
  }
}

// 查看更多，颜色替换
body .WB_cardmore {
  margin:6px 6px 0;
  background-color:$c;
  border-top:0 none;
  position:relative;
  top:-6px;
  &:hover{background-color:darken($c, 5%);}
}

body {
  .WB_feed_handle .WB_handle .WB_row_line {
    border-top:0 none;
    margin-left:3px;
    margin-right:3px;
    margin-top:6px;
    position:relative;
    top:-6px;

    li a {
      margin-left:3px;margin-right:3px;
      background-color:$c;
      &:hover{background-color:darken($c, 5%);}
    }
  }
  .WB_row_line .line {
    border-left:0 none;
  }
}

// 好友圈
body {
  .WB_feed .WB_cardtitle_b {
    height:48px;line-height:48px;
    border-top:solid 1px rgba(black, 0.1);
    border-radius:0;
    .main_title {
      position:relative;top:1px;
    }
  }
}